*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}


.a-text h1{
    text-align: center;
    color:#8c5ef3 ;
    padding-top: 20px;
}
.first{
    max-width: 600px;
    margin-left: 30px;
    margin-top: 30px;

}
.first img{
    padding-bottom: 20px;
}
.first a{
    color: black;
}
.first h4{
    font-weight: 600;
}

.first p{
    padding-top: 20px;
}
.over{
    display: flex;
    justify-content: space-between;
}
.second2{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.second1 p{
    width: 100%;
   
    padding-top: 20px;
}
.second1{
    padding-left: 20px;
   

}
.second img{
    width: 100%;
    height: 170px;
    object-fit: cover;
}
.e-text h1{
    text-align: center;
    color: #8c5ef3;
  }


  
  .f-text{
    padding-left: 30px;
}
.f-text h1{
    padding-top: 60px;
}
.f-text button{
    width: 125px;
    height: 40px;
    border: none;
    background:transparent;
    border: 2px solid #8c5ef3;
    border-radius: 50px;
}


.g-text{
  padding-right: 30px;
}
.g-text h1{
  padding-top: 60px;
}
.g-text button{
  width: 125px;
  height: 40px;
  border: none;
  background:transparent;
  border: 2px solid #8c5ef3;
  border-radius: 50px;
}


.h-text h1{
  padding-top: 60px;
}
.h-text button{
  width: 125px;
  height: 40px;
  border: none;
  background:transparent;
  border: 2px solid #8c5ef3;
  border-radius: 50px;
}


@media(max-width:765px){
    
    
.a-text h1{
    text-align: center;
    color:#8c5ef3 ;
 padding: 10px;

}
.first{
    max-width: 100%;
    margin-left: 0px;
    margin-top: 30px;

}
.first p{
padding: 20px;
}
.first img{
    padding: 20px;
}
.first a{
    color: black;
}
.first h4{
    font-weight: 600;
padding: 20px;

}
.over{
    display: inline;
    justify-content: space-between;
}
.second2{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
}
.second1 p{
    width: 100%;
    font-size: 11px;
   
    padding-top: 10px;
}
.second1{
    padding-left: 20px;
   

}
.second img{
    width: 300px;
    height: 100px;
    object-fit: cover;
}


.f-text img{
    width: 100%;
   
    }
    .f-text{
    padding-left: 0px;
    }
    .f-text h1{
        padding-top: 30px;
        padding-left: 20px;
    }
    .f-text p{
        padding-left: 20px;
    }
    .f-text span{
        padding-left: 20px;
    }
    .f-text button{
        width: 125px;
        height: 40px;
        border: none;
        margin-left: 20px;
        background:transparent;
        border: 2px solid #8c5ef3;
        border-radius: 50px;
        margin-top: 15px;
    }  

    .g-text img{
      width: 100%;
     
      }
      .g-text{
      padding-right: 0px;
      margin-top: 20px;
      }
      .g-text h1{
          padding-top: 30px;
          padding-left: 20px;
      }
      .g-text p{
          padding-left: 20px;
      }
      .g-text span{
          padding-left: 20px;
      }
      .g-text button{
          width: 125px;
          height: 40px;
          border: none;
          margin-left: 20px;
          background:transparent;
          border: 2px solid #8c5ef3;
          border-radius: 50px;
          margin-top: 15px;
      }  

      .h-text img{
        width: 100%;
       
        }
        .h-text{
        margin-top: 20px;
        
        }
        .h-text h1{
            padding-top: 30px;
            padding-left: 20px;
        }
        .h-text p{
            padding-left: 20px;
        }
        .h-text span{
            padding-left: 20px;
        }
        .h-text button{
            width: 125px;
            height: 40px;
            border: none;
            margin-left: 20px;
            background:transparent;
            border: 2px solid #8c5ef3;
            border-radius: 50px;
            margin-top: 15px;
        }  
}
@media(min-width:765px){
    .second2{
        display: flex;
        justify-content: space-between;
        margin-left: 30px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .second1 p{
        width: 100%;
       font-size: 11px;
        padding-top: 10px;
    }
    .second1{
        padding-left: 20px;
       
    
    }
    .second img{
        width: 100%;
        height: 100px;
        object-fit: cover;
    }
    .first{
        max-width: 400px;
        margin-left: 30px;
        margin-top: 30px;
    
    }


    
.f-text img{
    width: 60%;
    float: right;
    border-radius: 50px;
    
    }
    .f-text{
        padding-left: 30px;
        padding-top: 20px;
    }
    .f-text h1{
        padding-top: 60px;
    }
    .f-text button{
        width: 125px;
        height: 40px;
        border: none;
        background:transparent;
        border: 2px solid #8c5ef3;
        border-radius: 50px;
    }
  
    .g-text img{
      width: 50%;
      float: left;
      border-radius: 50px;
      padding-right: 20px;
      }
      .g-text{
          padding-right: 30px;
  margin-top: 50px;
          padding-left: 30px;
      }
      .g-text span{
          padding-left: 10px;
      }
      .g-text h1{
          padding-top: 20px;
      }
      .g-text button{
          width: 125px;
          height: 40px;
          border: none;
          background:transparent;
          border: 2px solid #8c5ef3;
          border-radius: 50px;
      }
  
      .h-text img{
        width: 50%;
        float: right;
        padding-left: 20px;
        border-radius: 50px;
        }
        .h-text{
            padding-right: 30px;
  margin-top: 50px;
            padding-left: 30px;
        }
        .h-text h1{
            padding-top: 20px;
        }
        .h-text button{
            width: 125px;
            height: 40px;
            border: none;
            background:transparent;
            border: 2px solid #8c5ef3;
            border-radius: 50px;
        }
      
}
@media(min-width:1024px){
    .second2{
        display: flex;
        justify-content: space-between;
        margin-left: 30px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .second1 p{
        width: 100%;
       
        padding-top: 20px;
    }
    .second1{
        padding-left: 20px;
       
    
    }
    .second img{
        width: 100%;
        height: 170px;
        object-fit: cover;
    }
    .first{
        max-width: 600px;
        margin-left: 30px;
        margin-top: 30px;
    
    }

    .f-text{
        padding-right: 40px;
    }
    .f-text img{
        width: 50%;
        float: right;
        }
        
      .g-text img{
        float: left;
        width: 50%;
        padding-right: 30px;
      }
      
            .g-text{
                margin-top: 200px;
                padding-left: 30px;
            }
            .g-text h3{
                padding-top: 70px;
                padding-left: 30px;
            }
            .g-text p{
                padding-left: 30px;
            }
            .h-text img{
              float: right;
              width: 50%;
              padding-right: 30px;
          }
          
                  .h-text{
                      margin-top: 200px;
                      padding-left: 30px;
                  }
                  .h-text h3{
                      padding-top: 70px;
                      padding-left: 30px;
                  }

                  footer{
                      margin-top: 120px;
                  }
}


