#btn-play{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
}

.vector-icon{
    width: fit-content;
    height: fit-content;
}

.game-icon{
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.game-play-btn{
    right: 15px;
    top: 10px;
}

@media (min-width: 992px) {
    #images-carousel-section{
        height: 500px;
    }
}

@media (max-width: 991px) {
    #images-carousel-section{
        height: 500px;
    }
}

@media (max-width: 768px) {
    #images-carousel-section{
        height: 300px;
    }
}

@media (max-width: 576px) {
    #images-carousel-section{
        height: 300px;
    }
}